{% extends 'base.jinja' %}
{% block title %}Hlavní Stránka{% endblock %}
{% block content %}
<div class="main-section">
    <div class="content">
        <h1>Rychlé doručení vašeho oblíbeného jídla</h1>
        <p>Zadejte vaši adresu</p>
        <div class="search-container">
            <input type="text" placeholder="Zadejte vaši adresu..." />
            <button>Hledat</button>
        </div>
    </div>
    <div class="image">
        <img src="static/uploads/sample-food.jpg" alt="Ukázkové jídlo" />
    </div>
</div>


{% endblock %}
